

.comments{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

    width: 80%;
    margin: auto;
}
.comments p{
    font-family: var(--font1);
    font-size: 0.8rem;
}
.fundo{
    border: 1px solid black;
    border-radius: 20px ;
    padding: 4px;
}
.blocks{
    display: flex;
    flex-direction: column;
    gap: 20px;
}